body {
    background-color: #FFC49B;}
h1{
  color: #ADB6C4;
  font-size: 60px;
    text-align: center;
  
  color: #ADB6C4;
  
}
p.double {outline-style: double;}
    
    
nav {
  list-style-type: none;
  position: fixed;
  background-color: #A1CF6B;
  width: 100vw;
    top:0;
  left: 0; 
  padding: 10px;
}

li{
  display: inline;
  padding: 192px;
}
    
    
    
    
    
    
    
    
    

