h1{
  color: #ADB6C4;
  font-size: 60px;
    text-align: center;
  p.double {outline-style: double;}
  color: #ADB6C4;
  
}

h2{
 color: #846267;
   font-size: 30px;
   text-align: center;
  
}

body {
  background-color: #FFC49B 
}
    
    
nav {
  list-style-type: none;
  position: fixed;
  background-color: #A1CF6B;
  width: 100vw;
    top:0;
  left: 0; 
  padding: 10px;
}

li{
  display: inline;
  padding: 192px;
  
  a {
    text-decoration: none;
    color: ivory;
    
    
  }
  a:hover {
    background-color: black;
  }
  
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
